doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title DummyIndian
style(type='text/css').
  body,
  html {
  margin: 0px;
  padding: 0px;
  }
  @font-face {
  font-family: 'NoirProMedium';
  src: url("https://www.dummyTeam.com/static-assets/fonts/NoirProMedium.eot");
  src: url("https://www.dummyTeam.com/static-assets/fonts/NoirProMedium.eot") format("embedded-opentype"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProMedium.woff2") format("woff2"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProMedium.woff") format("woff"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProMedium.ttf") format("truetype"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProMedium.svg#NoirProMedium") format("svg")
  }
  @font-face {
  font-family: 'NoirProBold';
  src: url('https://www.dummyTeam.com/static-assets/fonts/NoirProBold.eot');
  src: url('https://www.dummyTeam.com/static-assets/fonts/NoirProBold.eot') format('embedded-opentype'), url('https://www.dummyTeam.com/static-assets/fonts/NoirProBold.woff2') format('woff2'), url('https://www.dummyTeam.com/static-assets/fonts/NoirProBold.woff') format('woff'), url('https://www.dummyTeam.com/static-assets/fonts/NoirProBold.ttf') format('truetype'), url('https://www.dummyTeam.com/static-assets/fonts/NoirProBold.svg#NoirProBold') format('svg');
  }
  @font-face {
  font-family: 'NoirProRegular';
  src: url("https://www.dummyTeam.com/static-assets/fonts/NoirProRegular.eot");
  src: url("https://www.dummyTeam.com/static-assets/fonts/NoirProRegular.eot") format("embedded-opentype"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProRegular.woff2") format("woff2"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProRegular.woff") format("woff"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProRegular.ttf") format("truetype"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProRegular.svg#NoirProRegular") format("svg")
  }
  @font-face {
  font-family: 'NoirProSemiBold';
  src: url("https://www.dummyTeam.com/static-assets/fonts/NoirProSemiBold.eot");
  src: url("https://www.dummyTeam.com/static-assets/fonts/NoirProSemiBold.eot") format("embedded-opentype"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProSemiBold.woff2") format("woff2"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProSemiBold.woff") format("woff"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProSemiBold.ttf") format("truetype"),
  url("https://www.dummyTeam.com/static-assets/fonts/NoirProSemiBold.svg#NoirProSemiBold") format("svg")
  }
  .team-download {
  background: url("https://www.dummyTeam.com/static-assets/images/cssimages/team-download/team-download-bg.png") top center no-repeat;
  background-size: cover;
  padding: 100px 40px 20px;
  position: relative;
  width: 1300px;
  height: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  }
  .players-listing {
  padding: 50px 100px 30px;
  display: block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  position: relative;
  border-top: 0;
  margin-bottom: 50px;
  background: url("https://www.dummyTeam.com/static-assets/images/cssimages/team-download/border.png") no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%
  }
  .players-listing .player-listing-header {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0
  }
  .player-item {
  position: relative;
  display: inline-block;
  width: 20%;
  margin: 20px
  }
  .player-item .player-img {
  background: #fff;
  width: 155px;
  height: 155px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #001848;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  }
  .player-item .player-img img {
  width: 100%;
  }
  .player-item .foreign-player {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  line-height: 25px;
  }
  .player-item .foreign-player img {
  width: 15px;
  }
  .player-item .select-captain-wk {
  position: absolute;
  top: 5px;
  left: 5px;
  }
  .player-item .captain-icon,
  .player-item .wk-icon {
  background-color: #d1ab3e;
  color: #001848;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'NoirProSemiBold', sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: 2px;
  }
  .player-item .wk-icon {
  font-size: 11px;
  }
  .player-item .player-order {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 21px;
  font-family: 'NoirProBold', sans-serif;
  }
  .player-item .player-name {
  font-size: 14px;
  }
  .player-item .player-details {
  margin: 5px 12px;
  }
  .player-item .player-info {
  display: block;
  color: #fff;
  background-color: #001848;
  padding: 5px;
  position: relative;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  text-transform: uppercase;
  margin-top: 5px;
  font-family: 'NoirProMedium', sans-serif;
  }
  .team-stats {
  text-align: center;
  }
  .team-stats .stats-list {
  margin: 30px 0;
  display: inline-block;
  text-align: center;
  width: 100%
  }
  .team-stats .stats-title {
  position: relative
  }
  .team-stats .stats-title span {
  background-color: #001848;
  color: #fff;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'NoirProBold',
  sans-serif;
  display: inline-block;
  padding: 10px 50px;
  position: relative
  }
  .team-stats .stats-item {
  padding: 0 30px;
  position: relative;
  width: 14%;
  display: inline-block;
  border-right: 3px solid #b1b7c7;
  margin: 0 auto;
  }
  .team-stats .stats-item.last {
  border-right: none;
  }
  .team-stats .stats-txt {
  color: #fff;
  background-color: #d1ab3e;
  padding: 0 10px;
  text-transform: uppercase;
  font-family: 'NoirProMedium',
  sans-serif;
  font-size: 32px;
  display: block;
  margin-bottom: 0;
  line-height: 30px;
  }
  .team-stats .scores {
  display: inline-block;
  font-size: 40px;
  color: #001848;
  font-family: 'NoirProBold',
  sans-serif;
  line-height: 20px;
  margin: 20px 0;
  }
  .team-stats-header {
  position: relative
  }
  .team-stats-header .title-border.left,
  .team-stats-header .title-border.right {
  width: 32%;
  border: 1.5px solid #d1ab3e;
  position: absolute;
  left: 10px;
  top: 50%;
  }
  .team-stats-header .title-border.right {
  right: 10px;
  left: auto
  }
  .footer-wrap {
  text-align: center;
  }
  .footer-wrap .note {
  font-size: 24px;
  display: inline-block;
  font-family: 'NoirProMedium',
  sans-serif;
  background: #001549;
  color: #fff;
  padding: 10px 20px;
  }
  .footer-wrap .note a {
  color: #d9b347;
  text-decoration: none;
  }
  .footer-wrap .terms {
  color: #013089;
  font-size: 18px;
  font-family: 'NoirProMedium',
  sans-serif;
  font-weight: bold;
  }
.team-download
  .players-listing
    .player-listing-header
      img(src=`https://www.dummyTeam.com/static-assets/images/cssimages/team-download/team-header.png?v=${Date.now()}`)
    each player, index in payload.players
      .player-item.player-selected
        .player-img.active
          img(src=`https://www.dummyTeam.com/static-assets/images/players/team-xi/${player.id}.jpg?v=${Date.now()}`)
          .select-captain-wk
            if player.is_captain
              span.captain-icon C
            if player.is_wicket_keeper
              span.wk-icon WK
          if player.nationality_id !== '4'
            span.foreign-player
              img(src=`https://www.dummyTeam.com/static-assets/images/cssimages/team-download/foreign-player.png?v=${Date.now()}`)
        .player-details
          .player-info
            span.player-order #{index + 1}
            span.player-name #{player.short_name}
  .team-stats
    .team-stats-header
      .title-border.left
      h3.stats-title
        span Team Stats
      .title-border.right
    .stats-list
      -
        function formatNumber(num) {
          if (isNaN(num)) {
            return '';
          }
          return new Intl.NumberFormat('en-IN').format(num);
        }
      .stats-item
        span.stats-txt Runs
        span.scores #{formatNumber(payload.stats.runs)}
      .stats-item
        span.stats-txt Fours
        span.scores #{formatNumber(payload.stats.fours)}
      .stats-item
        span.stats-txt Sixes
        span.scores #{formatNumber(payload.stats.sixes)}
      .stats-item
        span.stats-txt Wickets
        span.scores #{formatNumber(payload.stats.wickets)}
      .stats-item.last
        span.stats-txt Catches
        span.scores #{formatNumber(payload.stats.catches)}
  .footer-wrap
    .note
      | MAKE YOUR TEAM ON:
      a(href='#') dummyTeam.com
    p.terms *All stats are while playing for MI
